@using BoardApplication.Models
@model List<BoardApplication.Models.Boardlist>

@{
    ViewBag.Title = "Read";

}

<h2>글읽기</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            <div style="text-align:right">
                <input class="btn btn-primary" type="submit" value="저장">
            </div>
        </div>

        <div class="form-group">
            <div>
                @foreach (var item in Model)
                {
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">제목</span>
                        <input type="text" class="form-control" id="@item.TITLE" name="@item.TITLE" value="@item.TITLE" />
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">작성자</span>
                        <input type="text" class="form-control" id="@item.WRITER" name="@item.WRITER" value="@item.WRITER" />
                    </div>

                    <div class="input-group">
                        <span class="input-group-text">내용</span>
                        <textarea class="form-control" aria-label="내용" rows="5">@item.CONTENTS</textarea>
                    </div>
                }

            </div>
        </div>
    </div>
}



