@using BoardApplication.Models
@model List<BoardApplication.Models.Boardlist>

@{
    ViewBag.Title = "Read";

}

<h2>글읽기</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <div class="form-horizontal">
        <div class="form-group" style="text-align:right">
            <div style="display:inline-block">
                <input class="btn btn-primary" type="button" value="수정" onclick="updateContents()">
            </div>
            <div style="display:inline-block">
                <input class="btn btn-primary" type="button" value="삭제" onclick="deleteContents()">
            </div>
        </div>

        <div class="form-group">
            <div>
                @foreach (var item in Model)
                {
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">제목</span>
                        <input type="text" class="form-control" id="title" value="@item.TITLE" readonly disabled />
                        <input type="hidden" class="form-control" id="id" value="@item.LISTID" />
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">작성자</span>
                        <input type="text" class="form-control" id="writer" value="@item.WRITER" readonly disabled />
                    </div>

                    <div class="input-group">
                        <span class="input-group-text">내용</span>
                        <textarea class="form-control" aria-label="내용" rows="5" id="contents">@item.CONTENTS</textarea>
                    </div>
                }

            </div>
        </div>
    </div>

    <script>
        function updateContents() {
            event.preventDefault();

            var contents = document.querySelector("#contents").value;
            var listId = document.querySelector("#id").value;

            var param = {
                contents: contents,
                listId: listId
            };

            $.ajax({
                url: '/home/Update',
                type: 'POST',
                dataType: 'json',
                data: param,
                success: function (response) {
                    alert(response.message);
                    window.close();
                },
                error: function (xhr, status, error) {
                    console.log("error ==> " + error);
                }
            });
        };

        function deleteContents() {
            event.preventDefault();

            var listId = document.querySelector("#id").value;

            var param = {
                listId: listId
            };

            $.ajax({
                url: '/home/Delete',
                type: 'POST',
                dataType: 'json',
                data: param,
                success: function (response) {
                    alert(response.message);
                    window.opener.parent.location.reload();
                    window.close();  
                },
                error: function (xhr, status, error) {
                    console.log("error ==> " + error);
                }
            });
            
        }
    </script>
}



